{
  "parser": "babel-eslint",
  "env": {
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "prettier"
  ],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "rules": {
    "no-empty": [
      "error",
      {
        "allowEmptyCatch": true
      }
    ],
    "no-console": "off"
  }
}